
<header id="fh5co-header" role="banner" class="">

  <div class="header-inner">
      <nav role="navigation">
          <ul>


              <li><a href="#" class="home">Home</a></li>

              
              
          </ul>
      </nav>
      <a href="#">
          <img src="/assets/logo.png" class="logo" style="float:left; margin-right:1%; height:80px">
      </a>
      <h1><div style="color:white">OmniMerit</div><span></span></h1>
      <a href="#">
          <p style="float:left;color: greenyellow;margin-top: 50px;     margin-left: -156px;">Integrating Noble values </p></a>

          

</div>
</header>