#fh5co-header {
    position: fixed;
    z-index: 1001;
    width: 100%;
   
}

#fh5co-header h1 a {
    color: white;
}
#fh5co-header nav {
    float: right;
    padding: 0;
    margin-right: 5%;
}

a {
    color: #00B906;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
nav {
    margin: 38px 0 0 0;
}
#fh5co-header nav ul {
    padding: 0;
    line-height: 0;
}
#fh5co-header nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
#fh5co-header nav ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    padding: 10px;
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
#fh5co-header .header-inner {
    height: 80px;
    padding-left: 3%;
    padding-right: 70px;
    float: left;
    width: 100%;
}
.logo {
    float: left;
    margin-right: 1%;
}
