<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Contact us </h3>
            <h4><i class="icon-envelope"></i> &nbsp; support@omnimerit.com</h4>
            <h4><i class="icon-phone"></i>&#8203;&nbsp;+91 98102 72159</h4>


        </div>



        <div class="col-md-12 fh5co-copyright text-center">
            <p>© 2019  All Rights Reserved. </p>
        </div>

    </div>
</footer>