<div id="fh5co-courses" class="fh5co-cta" style="">
  <div class="overlay"></div>
  <div class="container">
      <div class="col-md-12 text-center animate-box fadeInUp animated">
          <h3>Courses</h3>
          <p>
              <a href="/physics"><span class="btn btn-primary btn-outline with-arrow courses-btn">Physics <i class="icon-arrow-right"></i></span></a>
              <a href="#"><span class="btn btn-primary btn-outline with-arrow left courses-btn">Chemistry <i class="icon-arrow-right"></i></span></a>
              <a href="#"> <span class="btn btn-primary btn-outline with-arrow left courses-btn">Maths <i class="icon-arrow-right"></i></span></a>
          </p>
      </div>
  </div>
</div>